spring:
  application:
    name: solo-leveling-ai
  kafka:
    bootstrap-servers: localhost:29092
    properties:
      schema.registry.url: http://localhost:8081
    avro:
      group-id: ai-group
  ai:
    openai:
      api-key: ${OPENROUTER_TOKEN}
      base-url: https://openrouter.ai/api
      chat:
        options:
          model: google/gemini-2.5-flash-lite
  data:
    redis:
      host: localhost
      port: 6379
      lettuce:
        pool:
          max-active: 8
server:
  port: 10003
logging:
  level:
    org.apache.kafka.clients.consumer.ConsumerConfig: WARN
    org.apache.kafka.clients.producer.ProducerConfig: WARN
    io.confluent.kafka.serializers.KafkaAvroDeserializerConfig: WARN
    io.confluent.kafka.serializers.KafkaAvroSerializerConfig: WARN
management:
  endpoints:
    web:
      exposure:
        include: "*"